@import url('./custom.css');


body {
    background-color: var(--white-100);
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    column-gap: 20px;

}


.left_side {
    padding: 20px 0 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.profile_box {
    direction: rtl;
    background-color: var(--white-50);
    padding: 15px 20px;
    border-radius: 25px;
    column-gap: 20px;

}

.profile_warpper {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: var(--gold-400);
    border-radius: 50%;
}

.user_profile {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}