@import url('./custom.css');


body {
    background-color: var(--white-100);
    direction: rtl;
    display: flex;
    flex-direction: row-reverse;
    min-height: 100vh;
    column-gap: 20px;

}

/* ! start coding left side */
.left_side {
    padding: 20px 0 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.profile_box {
    direction: rtl;
    background-color: var(--white-50);
    padding: 15px 20px;
    border-radius: 25px;
    column-gap: 20px;

}

.profile_warpper {
    position: relative;
    width: 65px;
    height: 65px;
    background-color: var(--gold-400);
    border-radius: 50%;
}

.user_profile {
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.profile_box_desc {
    row-gap: 5px;
}

.user_name,
.user_number {
    color: var(--gray-650);
}

/* ! end coding left side */

.sim_cart_charge_box {
    background-color: var(--gold-50);
    padding: 20px;
    height: 100%;
    border-radius: 30px;
    margin-top: 20px;
}

.sim_cart_charge_title {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
}

.charge_btn {
    background-color: var(--gold-400);
    width: 150px;
    border-radius: 5px;
    color: var(--white-50);
    font-size: 1rem;
    box-shadow: 0 0 8px var(--gold-400);
    border: 0;
    outline: none;
}

.charge_progress {}